[submodule "osl"]
	path = osl
	url = https://github.com/periscop/openscop.git
	ignore = untracked
[submodule "piplib"]
	path = piplib
	url = https://github.com/periscop/piplib.git
	ignore = untracked
